$color_1: #000000;
$background-color_1: #60E0EC;

.effect1 {
    position: relative;
    border: none;
    border-style: groove;
    outline: none;
    width: 220px;
    height: 55px;
    font-weight: 600;
    font-size: larger;
    display: block;
    border-radius: 55px;
    background-color: $background-color_1;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;

    &:hover {
        transform: scale(1.1);
        background-color: $background-color_1;
        color: $color_1;
    }
}